.container {
  width: 100%;
  min-height: 120px;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
}

.label {
  width: 30%;
  font-size: 12px;
  height: 24px;
  margin-top: -25px;
}
.input_container {
  width: 70%;
  margin-bottom: 12px;
}

.input {
  width: 80%;
  height: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 3px grey;
  font-size: 12px;
}
.input:nth-last-child() {
  margin-bottom: 0px;
}
.form {
  box-sizing: border-box;
  margin: 20px;
}

.footer {
  border-top: 1px solid grey;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.btn_container {
  margin-right: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header {
  margin-top: 10px;
  padding-left: 15px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid grey;
}

.btn {
  width: 60px;
  height: 24px;
  margin-right: 4px;
  border-radius: 2px;
  border: none;
  font-size: 12px;
  color: white;
  cursor: pointer;
}

.add {
  background-color: rgb(3, 146, 58);
}

.cancel {
  background-color: rgb(22, 101, 153);
}

.delete {
  background-color: rgb(218, 3, 3);
}

.error {
  font-size: 12px;
  color: red;
}
